<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>医生信息管理</title>
    <!-- 引入Layui的样式文件 -->
    <link rel="stylesheet" th:href="@{https://cdn.staticfile.org/layui/2.6.8/css/layui.css}"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.7/css/layui.min.css">

</head>
<body>
<div class="layui-container">
    <h1>医生信息管理</h1>

    <!-- 查询表单 -->
    <form id="searchForm" th:action="@{/findDoctor}">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="key" name="key" placeholder="搜索关键字" class="layui-input">
            </div>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="search">查询</button>
        </div>
    </form>

    <table class="layui-table">
        <thead>
        <tr>
            <th style="text-align: center">序号</th>
            <th style="text-align: center">医生编号</th>
            <th style="text-align: center">医生名称</th>
            <th style="text-align: center">所属科室</th>
            <th style="text-align: center">医生电话</th>
            <th style="text-align: center">医生邮箱</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        <!-- 使用Thymeleaf循环渲染科室数据 -->
        <tr th:each="doctor,row : ${doctors}">
            <td style="text-align: center" th:text="${row.count}"></td>
            <td style="text-align: center" th:text="${doctor.getDoctorId()}"></td>
            <td style="text-align: center" th:text="${doctor.getDoctorName()}"></td>
            <td style="text-align: center" th:text="${doctor.getDepartment().getDepartmentName()}"></td>
            <td style="text-align: center" th:text="${doctor.getDoctorPhone()}"></td>
            <td style="text-align: center" th:text="${doctor.getDoctorEmail()}"></td>
            <td style="text-align: center">
                <button class="layui-btn layui-btn-sm layui-btn-normal" th:attr="doctor=${doctor}" onclick="editDoctor(this.getAttribute('doctor'))">编辑</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger" th:attr="doctorId=${doctor.getDoctorId()}" onclick="deleteDoctor(this.getAttribute('doctorId'))">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="addDoctorPage()">新增医生</button>
</div>

<!-- 引入Layui的JavaScript文件 -->
<script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/layui/2.5.7/layui.min.js"></script>
<script>
    // 添加科室页面
    var doctorName = "";
    var departmentId = "";
    var doctorPhone = "";
    var doctorEmail = "";
    var data = `[[${departmentJson}]]`;
    // 替换转义字符
    var unescapedString = data.replace(/&quot;/g, '"');

    // 解析为 JavaScript 数组
    var jsonArray = JSON.parse(unescapedString);

    function addDoctorPage() {
        layui.use(['layer', 'form'], function() {
            var layer = layui.layer;
            var form = layui.form;

            var selectHtml = '<select id="departmentSelect" lay-verify="required" lay-filter="departmentSelect"> <option value="">请选择科室</option>';

            for (var i = 0; i < jsonArray.length; i++) {
                var department = jsonArray[i];
                selectHtml += '<option value="' + department.departmentId + '">' + department.departmentName + '</option>';
            }
            selectHtml += '</select>';

            var html = `
                      <div class="layui-form-item">
                          <label class="layui-form-label">医生姓名</label>
                          <div class="layui-input-block">
                              <input type="text" name="doctorName" lay-verify="required" placeholder="医生姓名" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">所属科室</label>
                                <div class="layui-input-block">
                                    ${selectHtml}
                                </div>
                            </div>
                        </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">医生电话</label>
                          <div class="layui-input-block">
                              <input type="text" name="doctorPhone" lay-verify="required" placeholder="请输入医生电话" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">医生邮箱</label>
                          <div class="layui-input-block">
                              <input type="text" name="doctorEmail" lay-verify="required" placeholder="请输入医生邮箱" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                  `;

            layer.open({
                title: '新增医生',
                area: ['500px', '380px'],
                content: html,
                btn: ['保存', '取消'],
                yes: function(index, layero) {
                    // 点击保存按钮的回调函数
                    doctorName = layero.find('input[name="doctorName"]').val();
                    departmentId = document.getElementById('departmentSelect').options[departmentSelect.selectedIndex].value;
                    doctorPhone = layero.find('input[name="doctorPhone"]').val();
                    doctorEmail = layero.find('input[name="doctorEmail"]').val();

                    // 发送保存科室的请求
                    addDoctor();

                    layer.close(index); // 关闭弹窗
                },
                btn2: function(index, layero) {
                    // 点击取消按钮的回调函数
                    layer.close(index); // 关闭弹窗
                }
            });

            form.render(); // 渲染表单元素
        });
    }

    // 添加科室
    function addDoctor() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/addDoctor', false);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // 请求成功的处理逻辑
                    console.log('保存科室成功');
                    // 刷新页面或者执行其他操作
                } else {
                    // 请求失败的处理逻辑
                    console.log('保存科室失败');
                    // 处理错误情况
                }
            }
        };

        var requestData = {
            doctorName: doctorName,
            departmentId: departmentId,
            doctorPhone: doctorPhone,
            doctorEmail: doctorEmail
        };
        var jsonData = JSON.stringify(requestData);

        xhr.send(jsonData);
        location.reload();
    }

    // 编辑科室
    function editDoctor(doctor) {
        var matches = doctor.match(/\((.*?)\)/);
        if (matches && matches.length > 1) {
            var propertiesString = matches[1];

            // 将属性字符串拆分为键值对
            var propertiesArray = propertiesString.split(', ');

            // 创建空对象
            doctor = {};

            // 遍历属性数组，将键值对分别添加到对象中
            for (var i = 0; i < propertiesArray.length; i++) {
                var property = propertiesArray[i];
                var keyValue = property.split('=');

                // 将键值对添加到对象
                doctor[keyValue[0].trim()] = keyValue[1].trim();
            }

            console.log(doctor);
        } else {
            console.log("Invalid doctor string");
        }
        layui.use(['layer', 'form'], function() {
            var layer = layui.layer;
            var form = layui.form;

            var selectHtml = '<select id="departmentSelect" lay-filter="departmentSelect"><option value="">请选择科室</option>';

            for (var i = 0; i < jsonArray.length; i++) {
                var department = jsonArray[i];
                selectHtml += '<option value="' + department.departmentId + '">' + department.departmentName + '</option>';
            }
            selectHtml += '</select>';

            var html = `
                      <div class="layui-form-item">
                          <label class="layui-form-label">科室名称</label>
                          <div class="layui-input-block">
                              <input type="text" name="doctorName" lay-verify="required" value="${doctor.doctorName}" placeholder="请输入科室名称" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">所属科室</label>
                                <div class="layui-input-block">
                                    ${selectHtml}
                                </div>
                            </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">医生电话</label>
                          <div class="layui-input-block">
                              <input type="text" name="doctorPhone" lay-verify="required" value="${doctor.doctorPhone}" placeholder="请输入医生电话" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">医生邮箱</label>
                          <div class="layui-input-block">
                              <input type="text" name="doctorEmail" lay-verify="required" value="${doctor.doctorEmail}" placeholder="请输入医生邮箱" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                  `;

            layer.open({
                title: '编辑医生',
                area: ['500px', '380px'],
                content: html,
                btn: ['保存', '取消'],
                yes: function(index, layero) {
                    // 点击编辑按钮的回调函数
                    doctorName = layero.find('input[name="doctorName"]').val();
                    departmentId = document.getElementById('departmentSelect').options[departmentSelect.selectedIndex].value;
                    doctorPhone = layero.find('input[name="doctorPhone"]').val();
                    doctorEmail = layero.find('input[name="doctorEmail"]').val();

                    // 发送编辑科室的请求
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/editDoctor', false);
                    xhr.setRequestHeader('Content-Type', 'application/json');

                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                // 请求成功的处理逻辑
                                console.log('保存科室成功');
                                // 刷新页面或者执行其他操作
                            } else {
                                // 请求失败的处理逻辑
                                console.log('保存科室失败');
                                // 处理错误情况
                            }
                        }
                    };

                    var requestData = {
                        doctorId: doctor.doctorId,
                        doctorName: doctorName,
                        departmentId: departmentId,
                        doctorPhone: doctorPhone,
                        doctorEmail: doctorEmail
                    };
                    var jsonData = JSON.stringify(requestData);

                    xhr.send(jsonData);
                    location.reload();

                    layer.close(index); // 关闭弹窗
                },
                btn2: function(index, layero) {
                    // 点击取消按钮的回调函数
                    layer.close(index); // 关闭弹窗
                }
            });

            form.render(); // 渲染表单元素
        });
    }

    // 删除科室
    function deleteDoctor(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "http://localhost:8088/deleteDoctor/"+id, false);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                if (xhr.status === 204) {
                    console.log("Delete request succeeded");
                } else {
                    console.log("Delete request failed with status: " + xhr.status);
                }
            }
        };
        xhr.send();
        location.reload();
    }
</script>
</body>
</html>
