<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>用户信息管理</title>
  <!-- 引入Layui的样式文件 -->
  <link rel="stylesheet" th:href="@{https://cdn.staticfile.org/layui/2.6.8/css/layui.css}"/>
  <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.7/css/layui.min.css">

</head>
<body>
  <div class="layui-container">
    <h1>用户信息管理</h1>

    <!-- 查询表单 -->
    <form id="searchForm" th:action="@{/findUser}">
      <div class="layui-form-item">
        <div class="layui-input-inline">
          <input type="text" id="key" name="key" placeholder="搜索关键字" class="layui-input">
        </div>
        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="search">查询</button>
      </div>
    </form>

    <table class="layui-table">
      <thead>
      <tr>
        <th style="text-align: center">序号</th>
        <th style="text-align: center">编号</th>
        <th style="text-align: center">用户账号</th>
        <th style="text-align: center">用户密码</th>
        <th style="text-align: center">用户角色</th>
        <th style="text-align: center">所属系统</th>
        <th style="text-align: center">操作</th>
      </tr>
      </thead>
      <tbody>
      <!-- 使用Thymeleaf循环渲染科室数据 -->
      <tr th:each="user,row : ${users}">
        <td style="text-align: center" th:text="${row.count}"></td>
        <td style="text-align: center" th:text="${user.getUserId()}"></td>
        <td style="text-align: center" th:text="${user.getUsername()}"></td>
        <td style="text-align: center" th:text="${user.getPassword()}"></td>
        <td style="text-align: center" th:text="${user.getRole().getRoleName()}"></td>
        <td style="text-align: center" th:text="${user.getRole().getRoleDescription()}"></td>
        <td style="text-align: center">
          <button class="layui-btn layui-btn-sm layui-btn-normal" th:attr="user=${user}" onclick="editUser(this.getAttribute('user'))">编辑</button>
          <button class="layui-btn layui-btn-sm layui-btn-danger" th:attr="userId=${user.getUserId()}" onclick="deleteUser(this.getAttribute('userId'))">删除</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="addUserPage()">新增用户</button>
  </div>

  <!-- 引入Layui的JavaScript文件 -->
  <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/layui/2.5.7/layui.min.js"></script>
  <script>
    var username = '';
    var password = '';
    var roleSelect = '';
    var patientSelect = '';

    var roles = `[[${roles}]]`;
    var patients = `[[${patients}]];`

    roles  = roles.replaceAll('&quot;','"')
    patients = patients.replaceAll('&quot;','"').replace(';','');

    roles = JSON.parse(roles);
    patients = JSON.parse(patients);

    var roleSelectHtml = '<select id="roleSelect" lay-verify="required" lay-filter="roleSelect"> <option value="">请选择角色</option>';
    for (var i = 0; i < roles.length; i++) {
      var role = roles[i];
      roleSelectHtml += '<option value="' + role.roleId + '">' + role.roleName + '</option>';
    }
    roleSelectHtml += '</select>';

    var patientSelectHtml = '<select id="patientSelect" lay-filter="patientSelect"> <option value="">请选择患者</option>';
    for (var i = 0; i < patients.length; i++) {
      var patient = patients[i];
      patientSelectHtml += '<option value="' + patient.patientId + '">' + patient.patientName + '</option>';
    }
    patientSelectHtml += '</select>';

    var html = `
                      <div class="layui-form-item">
                          <label class="layui-form-label">用户账号</label>
                          <div class="layui-input-block">
                              <input type="text" name="username" lay-verify="required" lay-verify="required" placeholder="请输入用户账号" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">用户密码</label>
                          <div class="layui-input-block">
                              <input type="text" name="password" lay-verify="required" placeholder="请输入用户密码" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户角色</label>
                                <div class="layui-input-block">
                                    ${roleSelectHtml}
                                </div>
                            </div>
                        </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">归属患者</label>
                          <div class="layui-input-block">
                                    ${patientSelectHtml}
                           </div>
                      </div>
                  `;
    function addUserPage() {
      layui.use(['layer', 'form'], function() {
        var layer = layui.layer;
        var form = layui.form;

        layer.open({
          title: '新增用户',
          area: ['500px', '400px'],
          content: html,
          btn: ['保存', '取消'],
          yes: function(index, layero) {
            // 点击保存按钮的回调函数
            username = layero.find('input[name="username"]').val();
            password = layero.find('input[name="password"]').val();
            roleSelect = document.getElementById('roleSelect').value;
            patientSelect = document.getElementById('patientSelect').value;

            // 发送保存科室的请求
            addUser();

            layer.close(index); // 关闭弹窗
          },
          btn2: function(index, layero) {
            // 点击取消按钮的回调函数
            layer.close(index); // 关闭弹窗
          }
        });

        form.render(); // 渲染表单元素
      });
    }

    // 添加科室
    function addUser() {
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/addUser', false);
      xhr.setRequestHeader('Content-Type', 'application/json');

      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            // 请求成功的处理逻辑
            console.log('保存科室成功');
            // 刷新页面或者执行其他操作
          } else {
            // 请求失败的处理逻辑
            console.log('保存科室失败');
            // 处理错误情况
          }
        }
      };

      var requestData = {
        username: username,
        password: password,
        roleId: roleSelect,
        patientId: patientSelect
      };
      var jsonData = JSON.stringify(requestData);

      xhr.send(jsonData);
      location.reload();
    }

    // 编辑科室
    function editUser(user) {
      var matches = user.match(/\((.*?)\)/);
      if (matches && matches.length > 1) {
        var propertiesString = matches[1];

        // 将属性字符串拆分为键值对
        var propertiesArray = propertiesString.split(', ');

        // 创建空对象
        user = {};

        // 遍历属性数组，将键值对分别添加到对象中
        for (var i = 0; i < propertiesArray.length; i++) {
          var property = propertiesArray[i];
          var keyValue = property.split('=');

          // 将键值对添加到对象
          user[keyValue[0].trim()] = keyValue[1].trim();
        }

        console.log(user);
      } else {
        console.log("Invalid user string");
      }
      html = `
                      <div class="layui-form-item">
                          <label class="layui-form-label">用户账号</label>
                          <div class="layui-input-block">
                              <input type="text" name="username" lay-verify="required" value="${user.username}" lay-verify="required" placeholder="请输入用户账号" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">用户密码</label>
                          <div class="layui-input-block">
                              <input type="text" name="password" lay-verify="required" value="${user.password}"  placeholder="请输入用户密码" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户角色</label>
                                <div class="layui-input-block">
                                    ${roleSelectHtml}
                                </div>
                            </div>
                        </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">归属患者</label>
                          <div class="layui-input-block">
                                    ${patientSelectHtml}
                           </div>
                      </div>
                  `;
      layui.use(['layer', 'form'], function() {
        var layer = layui.layer;
        var form = layui.form;

        layer.open({
          title: '编辑科室',
          area: ['500px', '420px'],
          content: html,
          btn: ['保存', '取消'],
          yes: function(index, layero) {
            // 点击编辑按钮的回调函数

            username = layero.find('input[name="username"]').val();
            password = layero.find('input[name="password"]').val();
            roleSelect = document.getElementById('roleSelect').value;
            patientSelect = document.getElementById('patientSelect').value;

            // 发送编辑科室的请求
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/addUser', false);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onreadystatechange = function() {
              if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                  // 请求成功的处理逻辑
                  console.log('保存科室成功');
                  // 刷新页面或者执行其他操作
                } else {
                  // 请求失败的处理逻辑
                  console.log('保存科室失败');
                  // 处理错误情况
                }
              }
            };

            var requestData = {
              userId: user.userId,
              username : username,
              password : password,
              roleId : roleSelect,
              patientId: patientSelect
            };
            var jsonData = JSON.stringify(requestData);

            xhr.send(jsonData);
            location.reload();

            layer.close(index); // 关闭弹窗
          },
          btn2: function(index, layero) {
            // 点击取消按钮的回调函数
            layer.close(index); // 关闭弹窗
          }
        });

        form.render(); // 渲染表单元素
      });
    }

    // 删除科室
    function deleteUser(id) {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "http://localhost:8088/deleteUser/"+id, false);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
          if (xhr.status === 204) {
            console.log("Delete request succeeded");
          } else {
            console.log("Delete request failed with status: " + xhr.status);
          }
        }
      };
      xhr.send();
      location.reload();
    }

  </script>
</body>
</html>
