<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxuwz.hospital.mapper.AssociationMapper">
<!--    患者放回值-->
    <resultMap id="patientResultMap" type="com.gxuwz.hospital.entity.Patient">
        <result property="patientId" column="patient_id"/>
        <result property="patientEmail" column="patient_email"/>
        <result property="patientName" column="patient_name"/>
        <result property="patientPhone" column="patient_phone"/>
    </resultMap>

<!--    医生联合科室查询-->
    <resultMap id="doctorResultMap" type="com.gxuwz.hospital.entity.Doctor">
        <id property="doctorId" column="doctor_id"/>
        <result property="doctorName" column="doctor_name"/>
        <result property="departmentId" column="department_id"/>
        <result property="doctorPhone" column="doctor_phone"/>
        <result property="doctorEmail" column="doctor_email"/>
        <association property="department" javaType="com.gxuwz.hospital.entity.Department">
            <id property="departmentId" column="department_id"/>
            <result property="departmentName" column="department_name"/>
            <result property="departmentDescription" column="department_description"/>
        </association>
    </resultMap>
    <select id="findAllDoctors" resultMap="doctorResultMap" >
        select * from doctors left join departments on doctors.department_id = departments.department_id
    </select>

<!--    排班表联合医生查询-->
    <resultMap id="scheduleResultMap" type="com.gxuwz.hospital.entity.Schedule">
        <id property="scheduleId" column="schedule_id"/>
        <result property="doctorId" column="doctor_id"/>
        <result property="scheduleDate" column="schedule_date"/>
        <result property="scheduleTime" column="schedule_Time"/>
        <result property="scheduleEndTime" column="schedule_end_time"/>
        <association property="doctor" resultMap="doctorResultMap"/>
    </resultMap>
    <select id="findAllSchedule" resultMap="scheduleResultMap">
        select * from schedules s left join doctors d on s.doctor_id = d.doctor_id left join departments dt on d.department_id = dt.department_id
    </select>

    <!-- 联合查询挂号信息-->
    <resultMap id="appointmentResultMapper" type="com.gxuwz.hospital.entity.Appointment">
        <id property="appointmentId" column="appointment_id"/>
        <result property="patientId" column="patient_id"/>
        <result property="doctorId" column="doctor_id"/>
        <result property="scheduleId" column="schedule_id"/>
        <result property="appointmentDateTime" column="appointment_date_time"/>
        <result property="appointmentStatus" column="appointment_status"/>
        <association property="doctor" resultMap="doctorResultMap"/>
        <association property="patient" resultMap="patientResultMap"/>
        <association property="schedule" resultMap="scheduleResultMap"/>
    </resultMap>
    <select id="findAllAppointment" resultMap="appointmentResultMapper">
        select * from appointments a
            left join patients p on a.patient_id = p.patient_id
            left join doctors d on a.doctor_id = d.doctor_id
            left join schedules s on a.schedule_id = s.schedule_id
            left join departments dt on d.department_id = dt.department_id
    </select>
    <select id="findAllAppointmentByPatientId" resultMap="appointmentResultMapper">
        select * from appointments a
                          left join patients p on a.patient_id = p.patient_id
                          left join doctors d on a.doctor_id = d.doctor_id
                          left join schedules s on a.schedule_id = s.schedule_id
                          left join departments dt on d.department_id = dt.department_id
        where p.patient_id = #{patientId}
    </select>

    <!-- 联合查询用户 -->
    <resultMap id="userResultMap" type="com.gxuwz.hospital.entity.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="patientId" column="patient_id"/>
        <result property="roleId" column="role_id"/>
        <association property="role" javaType="com.gxuwz.hospital.entity.Role">
            <id property="roleId" column="role_id"/>
            <result property="roleName" column="role_name"/>
            <result property="roleDescription" column="role_description"/>
        </association>
        <association property="patient" resultMap="patientResultMap"/>
    </resultMap>
    <select id="findAllUser" resultMap="userResultMap">
        select * from users u
            left join roles r on u.role_id = r.role_id
            left join patients p on u.patient_id = p.patient_id
    </select>
    <select id="findUser" resultMap="userResultMap">
        select * from users u
                          left join roles r on u.role_id = r.role_id
                          left join patients p on u.patient_id = p.patient_id where username = #{username}
    </select>
</mapper>